/* header styles section */
.header{
    max-width: 1200px;
    margin: 0 auto;
}
.navber{
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

}
.a-item-h{
    font-size: 1rem;
    font-weight: bold;
    color: #2e2d3d;
    
}
.ul{
    /* display: flex; */
    gap: 50px;
}
.a-item-s{
    font-size: 1rem;
    font-weight: 300;
     color: #adacbb;
}
.a-item-c{
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}
.a-items ul li{
    list-style: none;
}
/* seciyion-2 */
.header-section-2-container{
    width: 100%;
    height: 460px;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-top: 250px;
    /* border: 1px solid aqua; */
  
}
.header-section-2-card{
    margin-top: 100px;
}

.header-s{
    font-size: 4rem;
}

/* sheared styles area */
.header-p{
    font-size: 1.25rem;
    font-weight: 300;
    color: #000000;
}
.flex{
    display: flex;
}
.bold{
    font-weight: bold;
}
.yalo{
    color: rgba(233, 90, 8, 1);
}
.text-center{
    text-align: center;
}

/* main section styles area */

.section-2, .section-1{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.m-title{
    font-size: 3rem;
    margin-bottom: 10px;

}
/* card styles area */
.card{
    max-width: 270px;
    text-align: center;
    /* border: 1px solid black; */
}
.card img{
    width: 100%;
}
.card-title{
    font-size: 1.25rem;
    font-weight: 400;
    color: #111111;
    margin-top: 10px;
    margin-bottom: 5px;
}
.card-rede{
    font-size: 1.35rem;
    font-weight: bold;
    color: #111111;
    margin-top: 3px;
    margin-bottom: 10px;
}
.btn-1{
    
    font-weight: 500;
    color: #ffffff;
    background-color: rgba(233, 90, 8, 1);
    padding: 19px 80px;
    width: 100%;
    border: none;

}
/* sectionb-2 styles area */

.section-2{
    max-width: 1200px;
    margin: 0 auto;

}
.container-2{
    display: flex;
    gap: 60px;
}
.section-2-img{
    width: 280px;
    height: 280px;
    margin-top: 50px;
    margin-left: 357px;
    margin-bottom: -150px;
}
.card-2-title{
    font-size: 3rem;
    color: #000000;
}
.card-2 img{
    width: 540px;
    height: 580px;
    /* margin-top: 170px; */
}
.section-2-ul li{
    margin-bottom: 50px;
}

/* section 3 styles area */
.section-3{
    width: 100%;
    height: 533px;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
   margin-top: 120px;
}
.img{
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.img-title{
    font-size: 3.25rem;
    color: #ffffff;
    margin-top: 200px;
    margin-bottom: 10px;
}
.img-input input[type=email]{
    padding: 15px 540px 15px 20px;
    
}
.img-input input[type=submit]{
    padding: 15px 50px;
    color: #ffffff;
    background-color: rgba(233, 90, 8, 1);
    border: none;
}
.center{
    text-align: center;
}
/* section 4 styles area */
.footer{
    max-width: 1200px;
    margin: 0 auto;
}
.div-container{

    display: flex;
    gap: 105px;
    margin-top: 70px;
    margin-bottom: 60px;
}
.div-1{
    max-width: 359px;
}
.div-1-p{
    font-size: 1.25rem;
    font-weight: 300;
    color: #000000;
}
/* div 2 */
.a-item{
    text-decoration: none;
    color: #6B7280;
    display: block;
    margin-bottom: 30px;
}
/* div 4 */
.div-4 img{
    margin-left: 24px;
}

/* section 4 styles area  */
.section-4{
    max-width: 1200px;
    margin: 0 auto;
}
.section-4-title{
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
    margin-top: 130px;
    margin-bottom: 5px;
}
.section-4-title-color{
    color: rgba(233, 90, 8, 1);
}
.section-4-p{
    font-size: 1.25rem;
    font-weight: 500;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 120px;
}

/* section 4 div  styles area  */
.section-4-div-1{
    width: 366px;
    height: 206px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/deal-bloom.png);
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.section-4-div-2{
    width: 366px;
    height: 206px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/deal-bloom.png);
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.div-1-item-titlt{
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 0px;
    font-weight: bold;
    
}
.div-1-item-des{
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    text-decoration: underline;
    margin-top: 8px;
}
/* div 4 */
.section-4-div-container{
    display: flex;
    gap: 22px;
    /* border: 2px solid navy; */
}
.section-4-div-4{
    width: 850px;
    height: 430px;
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* border: 2px solid salmon; */
}
.section-4-div-3-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0px;
    color: #ffffff;
}
.section-4-div-3-des{
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px;
    color: #ffffff;
}


     /* media quari styles section */

@media screen and (max-width: 576px) {
    .na{
        display: none;
    }
    .header-section-2-container{
        flex-direction: column-reverse;
        margin-top: 35px;
        margin-bottom: 25px;
    }
    .header-section-2-card{
    margin-top: 30px;
}
    .header-section-2-img img{
        width: 100%;
        /* margin-top: 400px; */
        margin-bottom: 20px;
    }
    .logo img{
        width: 60px;
        height: 30px;
    }
    .header-s{
    font-size: 1.5rem;
    font-weight: bold;
    /* margin-top: 20px; */
}
.m-title{
    font-size: 1.5rem;
}
    /* card styles */
    .card-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card{
    max-width: 171px;
    text-align: center;
    /* border: 1px solid black; */
}
.btn-1{
    padding: 15px 25px;
}
/* containe 2 styles area */
.container-2{
   flex-direction: column;
    /* gap: 60px; */
}
.card-2 img{
    width: 90%;
    height: auto;
    margin-top: 30px;
    margin-left: 20px;
}

/* margin-top: 170px; */
.card-2-title{
    font-size: 1.5rem;
    color: #000000;
}
.section-2-ul li{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}
.section-2-img{
    display: none;
}
.card-2{
    margin-top: 0px;
}

/* section 3 styles area */
.section-3{
    width: 100%;
    height: 275px;
   background-size: cover;
   margin-top: 40px;
}
.img-title{
    font-size: 1.25rem;
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: 5px;
}
.img-input input[type=email]{
    padding: 15px 80px 15px 15px;
    
}
.img-input input[type=submit]{
    padding: 15px 12px;
    color: #ffffff;
    background-color: rgba(233, 90, 8, 1);
    border: none;
}
/* footer styles area  */
.div-container{

    flex-direction: column;
     gap: 5px;
    margin: 20px 20px 50px 20px;
    

}

}